<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Inklocker Code Challenge</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>Inklocker Code Challenge</h1>
    <h4>Order Search: &nbsp;<input ng-model="searchText"></h4><br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Order #</th> 
          <th>Date Ordered</th> 
          <th>Shirt Name</th>         
          <th>Gender</th>
          <th>Size</th>
          <th>Color</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><input class="form-control" ng-model="shirt.name" placeholder="Insert Shirt Name (ie.'Wigglebutt')">
          </td>
          <td>            
            <select name="gender" class="form-control" ng-model="shirt.gender">
              <option value="Men's">Men's</option>
              <option value="Women's">Women's</option>
              <option value="Toddler's">Toddler's</option>
            </select>
          </td>
          <td>
            <select name="size" class="form-control" ng-model="shirt.size">
              <option value="Large">Large</option>
              <option value="X-Large">X-Large</option>
              <option value="2x-large">XX-Large</option>
              <option value="3x-large">XXX-Large</option>
            </select>
          </td>
          <td>
            <select name="color" class="form-control" ng-model="shirt.color">
              <option value="Pink">Pink</option>
              <option value="Blue">Blue</option>
              <option value="Red">Red</option>
              <option value="Green">Green</option>
            </select>
          </td>
          <td><button class="btn btn-primary" ng-click="addshirt()">Add Shirt</button></td>
          <td><button class="btn btn-info" ng-click="update()">Edit</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="shirt in shirtlist | filter:searchText">
          <td>{{shirt._id.substr(_id.length-4)}}</td>
          <td>{{}}</td>
          <td>{{shirt.name}}</td>
          <td>{{shirt.gender}}</td>
          <td>{{shirt.size}}</td>
          <td>{{shirt.color}}</td>
          <td><button class="btn btn-danger" ng-click="remove(shirt._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(shirt._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>